.social-icons__square {
    display: flex;
    align-items: center;
    grid-gap: 8px;
}

.social-icons-label > h6 {
    margin: 0;
    text-transform: uppercase;
    line-height: $line-height--xs;
    font-size: $font-size--03;
    font-weight: $font-weight--bold;
}

.social-icon__square {

    > a {
        @include transition($nav-link-transition);

        display: block;
        width: 18px;
        height: 18px;
        overflow: hidden;
        background-color: $c--gray--darker;
        text-indent: -9999px;
        color: $c--white;
        mask-size: 18px;
        mask-position: center;
        mask-repeat: no-repeat;

        &:hover {
            background-color: $c--yellow--dark;
        }
    }

    &--facebook > a {
        mask-image: url('../images/icons/social-facebook_square.svg');
    }

    &--twitter > a {
        mask-image: url('../images/icons/social-twitter_square.svg');
    }

    &--instagram > a {
        mask-image: url('../images/icons/social-instagram_square.svg');
    }

    &--pinterest > a {
        mask-image: url('../images/icons/social-pinterest_square.svg');
    }

    &--linkedin > a {
        mask-image: url('../images/icons/social-linkedin_square.svg');
    }
}
