// Layout variables

$spacing--01: 8px;
$spacing--02: 10px;
$spacing--03: 12px;
$spacing--04: 16px;
$spacing--05: 18px;
$spacing--06: 24px;
$spacing--07: 32px;
$spacing--08: 40px;
$spacing--09: 50px;
$spacing--10: 62px;
$spacing--11: 78px;
$spacing--12: 98px;

$spacing--xs: $spacing--02;
$spacing--sm: $spacing--04;
$spacing--md: $spacing--06;
$spacing--lg: $spacing--08;
$spacing--xl: $spacing--10;
$spacing--xxl: $spacing--12;

$grid-gutter-width: $spacing--md;

$gutters: (
        0: 0,
        1: $spacing--xs,
        2: $spacing--sm,
        3: $spacing--md,
        4: $spacing--lg,
        5: $spacing--xl,
);

// Note: needing to use a mixin to overcome bug in sass-lint as described here:
// https://github.com/sasstools/sass-lint/issues/1161

:root {
  // --bs-gutter-x: 16px;
  @include root-prop(--bs-gutter-x, $spacing--04);
}

@media (min-width: 576px) { // Must match sm breakpoint value.
  :root {
    // --bs-gutter-x: 24px;
    @include root-prop(--bs-gutter-x, $spacing--06);
  }
}

@media (min-width: 768px) { // Must match md breakpoint value.
  :root {
    // --bs-gutter-x: 36px;
    @include root-prop(--bs-gutter-x, $spacing--08);
  }
}
