/* TYPOGRAPHY */

/* Google Fonts */
//@import url('https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic');
//@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900');

@font-face {
  font-family: 'Farnham';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/FarnhamText Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Farnham';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Farnham Text Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Farnham';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/Farnham Text Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Replica';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/lineto-replica-regular-c.eot'),
  url('../fonts/lineto-replica-regular-c.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-replica-regular-c.woff') format('woff'),
  url('../fonts/lineto-replica-regular-c.ttf') format('truetype'),
  url('../fonts/lineto-replica-regular-c.svg#LLReplicaWeb-Regular') format('svg');
}

@font-face {
  font-family: 'Replica';
  font-weight: bold;
  font-style: normal;
  src: 	 url('../fonts/lineto-replica-bold-c.eot'),
  url('../fonts/lineto-replica-bold-c.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-replica-bold-c.woff') format('woff'),
  url('../fonts/lineto-replica-bold-c.ttf') format('truetype'),
  url('../fonts/lineto-replica-bold-c.svg#LLReplicaWeb-Bold') format('svg');
}

$font--farnham: 'Farnham';
$font--replica: 'Replica';

$font-family--serif: $font--farnham, Georgia, 'Times New Roman', Times, serif;
$font-family--sans-serif: $font--replica, Helvetica, Arial, Verdana, sans-serif;
$font-family--monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-size--base: 1rem; // Assumes the browser default, typically `16px`

$font-weight--normal: normal;
$font-weight--bold: bold;
$font-weight--base: $font-weight--normal;

$line-height--base: 1.5;

$font-size--01: 10px;
$font-size--02: 12px;
$font-size--03: 14px;
$font-size--04: 16px;
$font-size--05: 18px;
$font-size--06: 20px;
$font-size--07: 24px;
$font-size--08: 32px;
$font-size--09: 40px;
$font-size--10: 48px;

$font-size--xs: $font-size--01;
$font-size--sm: $font-size--02;
$font-size--md: $font-size--04;
$font-size--lg: $font-size--06;
$font-size--xl: $font-size--08;

$font-size-xs: $font-size--xs;

$line-height--xxs: 18px;
$line-height--xs: 20px;
$line-height--sm: 22px;
$line-height--md: 22px;
$line-height--lg: 24px;
$line-height--xl: 40px;
$line-height--xxl: 48px;

$letter-spacing--xxs: .07em;
$letter-spacing--xs: 0;
$letter-spacing--sm: 0;
$letter-spacing--md: .15px;
$letter-spacing--lg: .25px;
$letter-spacing--xl: .25px;
$letter-spacing--xxl: -.05px;
