// Layout variables

// Breakpoints.
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Spacers.
$spacing--01: 4px;
$spacing--02: 6px;
$spacing--03: 8px;
$spacing--04: 12px;
$spacing--05: 16px;
$spacing--06: 24px;
$spacing--07: 32px;
$spacing--08: 40px;
$spacing--09: 48px;
$spacing--10: 64px;
$spacing--11: 80px;
$spacing--12: 96px;
$spacing--13: 160px;

$spacing--xs: $spacing--02;
$spacing--sm: $spacing--04;
$spacing--md: $spacing--06;
$spacing--lg: $spacing--08;
$spacing--xl: $spacing--10;

:root {
  --bs-gutter-x: $spacing--sm;
}

@media (min-width: 576px) { // Must match sm breakpoint value.
  :root {
    --bs-gutter-x: $spacing--md;
  }
}

@media (min-width: 768px) { // Must match md breakpoint value.
  :root {
    --bs-gutter-x: $spacing--lg;
  }
}

// Comments
$comment-spacer-x: $spacing--06;
$comment-spacer-y: $spacing--06;

// Default spacing between sections/paragraphs
$section-spacer: $spacing--md;

// Paragraph gutters
$inner_gutter_width: 14.75%;
$inner_column_width: (100% - ($inner_gutter_width * 2));