body {
  font-family: $font-family--base;
  // font-family: "helvetica neue", helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $font-weight--bold;
}

h1 {
  color: rebeccapurple;
}

h2 {
  color: darkolivegreen;
}

h3 {
  color: darkred;
}

h4 {
  color: goldenrod;
}

h5 {
  color: peru;
}

h6 {
  color: darkblue;
}
