.button-row,
.button-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: $spacing--04;
    margin-bottom: $spacing--08;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}

button,
.button {
    @include transition($nav-link-transition);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: 2px solid $c--yellow;
    background-color: $c--yellow;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    font-family: $font-family--sans-serif;
    font-weight: bold;
    color: $c--gray--darkest;

    &:hover {
        text-decoration: none;
    }
}

.button.button--yellow,
.button.button--primary {
    border-color: $c--yellow;
    background-color: $c--yellow;
    color: $c--gray--darkest;

    @at-root a#{&},
    &:enabled {
        &:hover {
            border-color: $c--yellow--dark;
            background-color: $c--yellow--dark;
            color: $c--white;
        }
    }
}

.button.button--secondary {
    border-color: $c--gray--darkest;
    background-color: $c--gray--darkest;
    color: $c--gray--lightest;

    @at-root a#{&},
    &:enabled {
        &:hover {
            border-color: $c--gray--darker;
            background-color: $c--gray--darker;
            color: $c--white;
        }
    }
}

.button.button--tertiary {
    border-color: $c--white;
    padding: 0 $spacing--03;
    background-color: $c--white;
    color: $c--gray--darkest;

    @at-root a#{&},
    &:enabled {
        &:hover {
            border-color: $c--white;
            background-color: $c--white;
            color: $c--yellow;
        }
    }
}

.button.button--white {
    border-color: $c--gray--darkest;
    padding: 0 $spacing--03;
    background-color: $c--white;
    color: $c--gray--darkest;

    @at-root a#{&},
    &:enabled {
        &:hover {
            border-color: $c--gray--darkest;
            background-color: $c--gray--lightest;
            color: $c--gray--darkest;
        }
    }
}

.button.button--sm {
    border-width: 1px;
    padding: 0 $spacing--01;
    min-height: 21px;
    font-size: $font-size--03;
    font-weight: $font-weight--bold;

    &.icon--left {
        padding-left: $spacing--05;
        background-position: left ($spacing--01 / 2) center;
    }

    &.icon--right {
        padding-right: $spacing--05;
        background-position: right ($spacing--01 / 2) center;
    }
}

.button.button--md {
    padding: 0 $spacing--06;
    min-height: 36px;
    font-size: $font-size--03;
    font-weight: $font-weight--bold;
}

.button.button--lg {
    padding: 0 $spacing--08;
    min-height: 51px;
    font-size: $font-size--04;
    font-weight: $font-weight--bold;
}

.button.icon--left,
.button.icon--right {
    background-image: url('../images/icons/asl.svg');
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position-y: center;
}
