{% extends "page.html.twig" %}

{% block page_content %}
  <p>You've encountered our 404 page!  Let's make it worth your while...</p>
{% endblock %}

{% block extra_page_content %}
  <div class="style-guide-wrapper">
    <h2>You found the fledgling style guide!</h2>

    <p class="font-sample--01">
      Font sample #1: Replica 300 normal.
    </p>

    <p class="font-sample--02">
      Font sample #2: Replica 400 normal.
    </p>

    <p class="font-sample--03">
      Font sample #3: Replica 600 normal.
    </p>

    <p class="font-sample--04">
      Font sample #1: Replica 300 normal.
    </p>

    <p class="font-sample--05">
      Font sample #2: Replica 400 normal.
    </p>

    <p class="font-sample--06">
      Font sample #3: Replica 600 normal.
    </p>
  </div>
{% endblock %}