.button-row,
.button-list {
    display: flex;
    grid-gap: $spacing--04;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

button,
.button,
.button-link > a {
    @include button-profile;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $c--brand--green-primary;
    text-transform: none;
    color: $c--white;
    border: 0;
    text-decoration: none;
    transition: background-color .25s linear;

    &:hover {
        text-decoration: none;
        background-color: $c--brand--green-hover;
        color: $c--white !important;
    }

    @include media-breakpoint-up(md) { font-size: $font-size--05; }
}

.button.button--small { font-size: $font-size--03; }

.button.button--xs { font-size: $font-size--02; }

.button.button--primary,
.button-link a,
a.button-link {
    background-color: $c--brand--green-primary;
    color: $c--white !important;
    line-height: $line-height--xxs;

    @at-root a#{&},
    &:enabled {
        &:hover {
            text-decoration: none;
            background-color: $c--brand--green-hover;
            color: $c--white !important;

            &:after { color: $c--white !important; }
        }
    }

    &:after,
    &:hover:after { color: $c--white !important; }
}

.button-link--arrow a,
a.button-link--arrow {

    &:after {
        content: '\f054';
        background-color: transparent;
        font: var(--fa-font-solid);
        font-family: 'FontAwesome';
        margin-left: 0.75em;
        font-size: .625em;
    }
}

.button.button--secondary {
    background-color: $c--background--accent-primary;
    color: $c--on-background--secondary;
    line-height: $line-height--xxs;

    @at-root a#{&},
    &:enabled {
        &:hover {
            background-color: $c--background--accent-secondary;
            color: $c--on-background--secondary !important;
        }

        &:after { background-color: $c--background--accent-secondary; }
    }

    &:after,
    &:hover:after { color: $c--on-background--secondary !important; }
}

.button.button--tertiary {
    background-color: $c--background--accent-primary;
    color: $c--brand--primary;
    padding: $spacing--04 ( ($spacing--05+$spacing--06)/2 );
    border-radius: $spacing--06;
    line-height: $line-height--xxs;

    @at-root a#{&},
    &:enabled {
        &:hover {
            background-color: $c--background--accent-secondary;
            color: $c--brand--hover;
        }
    }
}

.button.button--inverse {
    background-color: $c--white;
    color: $c--on-background--primary;
    border: 1px solid $c--on-background--primary;

    @at-root a#{&},
    &:enabled {
        &:hover {
            background-color: $c--background--accent-primary;
            color: $c--on-background--secondary;
        }
    }

    &.no-link:hover {
        background-color: $c--white;
        color: $c--on-background--primary !important;
        border: 1px solid $c--on-background--primary;
    }
}

.button.button--alert {
    background-color: $c--alert-bg-color;
    color: $c--brand--hover;
    border: 1px solid $c--brand--hover;
    border-radius: $spacing--01 !important;
    font-weight: $font-weight--bold !important;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: $line-height--xxs;

    &:before {
        content: '';
        width: 16px;
        height: 16px;
        background-color: #B72A1B;
        display: inline-block;
        mask-image: url("../images/icons/alert.svg");
        mask-size: contain;
        mask-position: left center;
        padding-right: 23px;
        mask-repeat: no-repeat;
    }
}

.button.icon--left,
.button.icon--right {
    background-repeat: no-repeat;
    -webkit-background-size: 50% 50%;
    background-size: auto 70%;
    background-position-y: center;
}

.action-link,
.field--name-field-link {
    @include action-link;
}

.field--name-field-link {
    margin: $spacing--sm 0;

    > .field__item {
        margin-bottom: $spacing--sm;

        &:last-child { margin-bottom: 0; }
    }
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    grid-gap: $spacing--sm;

    .button {
        display: block;
        text-align: center;
    }
}

a.red_button {
    display: inline-block;
    padding: $spacing--03 $spacing--08;
    border-radius: $spacing--03;
    background: $legacy-red-light;
    font-weight: $font-weight--normal;
    text-decoration: none !important;
    text-transform: uppercase;
    line-height: $line-height--xxs;
    color: $c--white !important;
    transition: all 1s;
}

a.red_button:hover {
    background: $legacy-red-dark;
    text-decoration: none;
    transition: all 1s;
}
