<div class="outer-wrapper outer-wrapper--site-header">
    <div class="site-header">

        <div class="site-logo">
            I am site logo!
        </div>

        <div class="site-title">
            I am site title!
        </div>

        <div class="site-utility">
            I am site utility
        </div>

    </div>
</div>
