.menu--social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  h2 {
    @extend %font-size--03;

    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      margin: 2px $spacing--04 0 0;
    }
  }

  @include media-breakpoint-up(md) { flex-direction: row; }
}

.social-menu {
  display: flex;
  justify-content: flex-end;
  grid-gap: 8px;
  margin: 11px 0 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.social-item {
  @include transition($nav-link-transition);

  border-radius: 26px;
  width: 26px;
  height: 26px;
  background-color: $c--blue-alt;
  list-style: none;

  &:hover {
    background-color: $c--yellow;
  }
}

.social-link {
  @include transition($nav-link-transition);

  display: block;
  width: 26px;
  height: 26px;
  overflow: hidden;
  background-color: white;
  text-indent: -9999px;
  color: $c--white;
  mask-size: 34px;
  mask-position: center;
  mask-repeat: no-repeat;

  &--facebook {
    mask-image: url('../images/icons/social-facebook.svg');
    mask-size: 36px;
  }

  &--twitter {
    mask-image: url('../images/icons/social-twitter.svg');
  }

  &--instagram {
    mask-image: url('../images/icons/social-instagram.svg');
  }

  &--youtube {
    mask-image: url('../images/icons/social-youtube.svg');
    mask-size: 30px;
  }

  &--rss {
    mask-image: url('../images/icons/social-rss.svg');
    mask-size: 12px;
  }

  &--linkedin {
    mask-image: url('../images/icons/social-linkedin.svg');
    mask-size: 13px;
  }
}

.section--header .social-item--footer-only {
  display: none;
}
