.region-info nav.tabs {
  margin: 0 0 $spacing--md;
  border: 0;

  ul.nav-tabs {
    grid-gap: $spacing--xs;
    border: 1px solid $c--gray--lighter;
    padding: $spacing--01;
    background-color: $c--gray--lightest;

    li.nav-item {
      flex-grow: 0;
      border: 0;

      a.nav-link {
        @extend .button.button--sm;
        @extend .button.button--primary;

        border-radius: 0;
        border: 1px solid red;
      }
    }
  }
}
