<div class="page" id="page">
    {% include "@sections/header.twig" %}
    <div role="main">
        {% block hero %}{% endblock %}
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </div><!--End role=main-->
    {% include "@sections/footer.twig" %}
</div>
