body {
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas {
  z-index: 1000;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.layout-main-wrapper {
  flex: 1;
  padding-bottom: $spacing--05;
}

.container {
  transition: $transition-base;

  &--main {
    margin: 0 auto;
  }
}

.toolbar {
  z-index: 2000;
  position: relative;
}
