.layout--layout-builder-demo-page {
  // background-color: rgba($c--black, .075);

  display: grid;
  column-gap: $spacing--sm;
  row-gap: $spacing--sm;
  grid-template-areas:
    "images"
    "info"
    "tables"
    "accordions"
    "temp";
  grid-template-columns: auto;
  grid-template-rows: min-content auto auto auto;

  @include media-breakpoint-up(md) {
    column-gap: $spacing--md;
    grid-template-areas:
    "images info"
    "images temp"
    "tables temp"
    "accordions temp";
    grid-template-columns: 50% auto;
    grid-template-rows: min-content auto auto auto;
  }

  @include media-breakpoint-up(lg) {
    column-gap: $spacing--xl;
    grid-template-columns: 65% auto;
  }

  .layout__region--images {
    grid-area: images;
  }

  .layout__region--tabular {
    grid-area: tables;
  }

  .accordion-container {
    grid-area: accordions;
  }

  .layout__region--info {
    grid-area: info;

    @include media-breakpoint-up(md) {
      margin-top: $spacing--md;
    }

    @include media-breakpoint-up(lg) {
      margin-top: $spacing--lg;
    }
  }

  .layout__region--temp_field_storage {
    grid-area: temp;
  }
}

.path-node .layout__region--temp_field_storage {
  display: none;
}

.block-field-blocknodeart-objecttitle {
  @extend .h2;
}
