body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.page > .section {
  margin: 0;
  padding: 0;

  &--main {
    flex: 1;
    padding: $spacing--lg 0;
  }

  &--info {
    padding: $spacing--sm 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.layout-main-wrapper {
  flex: 1;
  padding-bottom: $spacing--05;
}

.container {
  transition: $transition-base;

  &--main {
    margin: 0 auto;
  }
}

.toolbar {
  z-index: 2000;
  position: relative;
}
