.header {
  margin: 16px 0;

  @include media-breakpoint-up(md) { margin: 36px 0; }
}

.header-layout {
  display: flex;
  background-color: $c--gray--lighter;
  justify-content: flex-start;

  @include media-breakpoint-up(md) {
    display: grid;
    justify-content: normal;
    grid-template-areas:
      'logo menu-b'
      'logo search'
      'logo social';
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr auto;
  }
}

.region-header-first {
  flex: 1;

  @include media-breakpoint-up(md) {
    flex: none;
    grid-area: logo;
  }
}

.region-header-second {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    grid-area: menu-b;
  }
}

.region-header-third {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: flex-end;
    grid-area: search;
    margin: $spacing--03 0;
  }
}

.region-header-fourth {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: flex-end;
    grid-area: social;
  }
}
