input {
  border-radius: 0;
  border: 1px solid #c4c4c4;
  padding: 0 10px;

  &[type='text'],
  &[type='search'] {
    outline-offset: -1px;
    outline-width: 1px;
    outline-color: darken(#c4c4c4, 25%);
    height: 40px;

    &:focus-visible {
      outline-style: solid;
    }
  }
}
