@mixin h1 {
  font-size: $font-size--07;
  line-height: $line-height--xs;
  margin: 0 0 .3em;
  font-weight: $font-weight--bold;
  @include media-breakpoint-up(sm) {
    margin-bottom: .5em;
    font-size: $font-size--09;
  }
  @include media-breakpoint-up(md) { font-size: $font-size--11; }
}

@mixin h2 {
  font-size: $font-size--06;
  line-height: $line-height--sm;
  margin: 0 0 .5em;
  font-weight: $font-weight--bold;
  @include media-breakpoint-up(sm) { font-size: $font-size--07; }
  @include media-breakpoint-up(md) { font-size: $font-size--08; }
}

@mixin h3 {
  font-size: $font-size--05;
  line-height: $line-height--sm;
  margin: 0 0 .4em;
  font-weight: $font-weight--bold;
  @include media-breakpoint-up(sm) { font-size: $font-size--06; }
  @include media-breakpoint-up(md) { font-size: $font-size--07; }
}

@mixin h4 {
  font-size: $font-size--04;
  line-height: $line-height--sm;
  margin: 0 0 .3em;
  font-weight: $font-weight--bold;
  @include media-breakpoint-up(sm) { font-size: $font-size--05; }
  @include media-breakpoint-up(md) { font-size: $font-size--06; }
}

@mixin h5 {
  font-size: $font-size--03;
  line-height: $line-height--sm;
  margin: 0 0 .3em;
  font-weight: $font-weight--bold;
  @include media-breakpoint-up(sm) { font-size: $font-size--04; }
  @include media-breakpoint-up(md) { font-size: $font-size--05; }
}

@mixin h6 {
  font-size: $font-size--02;
  line-height: $line-height--sm;
  margin: 0 0 .25em;
  font-weight: $font-weight--bold;
  @include media-breakpoint-up(sm) { font-size: $font-size--03; }
  @include media-breakpoint-up(md) { font-size: $font-size--04; }
}
