@mixin intro-text {
  font-size: 26px;
  font-weight: normal;
  line-height: 34px;
}

@mixin callout-text {
  background-color: #F5F5F0;
  border-radius: 7px;
  padding: 27px;
  font-size: 22px;
  color: #3F4725;
  border: 1px solid transparent;
}

@mixin unformatted-ulli {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;

  li { margin: 0; }
}

/**
 * Text styles for wysiwyg sections
 */
@mixin text-body-styles {

  .intro { @include intro-text; }

  .callout { @include callout-text; }

  blockquote { margin: 5% 15%; }

  a { color: $primary-shade; }

  >li {
    color: #3F4725;
    margin-top: 1.5rem;
  }
}

// Base button profile
@mixin button-profile {
  font-size: $font-size--04;
  font-weight: $font-weight--bold;
  font-family: $font-family--base;
  line-height: $line-height--xxs;
  padding: 0.525em 1.1em 0.575em;
  border-radius: 1.125em;
}

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
  .btn-#{$color} a {
    @include button-variant($value, $value);
  }
}

@each $color,
$value in $theme-colors {
  .btn-outline-#{$color} a {
    @include button-outline-variant($value);
  }
}

.img_contain {
  max-height: 732px !important;
  max-width: 1100px !important;
  height: auto !important;
  width: auto !important;
}

@mixin content-section-margins($flatTop: false, $flatBottom: false, $m: 1) {
  margin-top: ($spacing--md * $m);
  margin-bottom: ($spacing--md * $m);

  @include media-breakpoint-up(lg) {
    margin-top: ($spacing--lg * $m);
    margin-bottom: ($spacing--lg * $m);
  }

  @include media-breakpoint-up(xl) {
    margin-top: ($spacing--xl * $m);
    margin-bottom: ($spacing--xl * $m);
  }

  @if $flatTop == true {
    &:first-child {
      margin-top: 0;
    }
  }

  @if $flatBottom == true {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin inline-link--light {
  color: $c--link--light;
  text-decoration: none;

  &:hover {
    color: $c--link--light-hover;
    text-decoration: underline;
  }
}

@mixin text-theme--light {
  color: $c--white;

  a {
    @include inline-link--light;
  }
}

@mixin action-link($theme: 'dark') {

  a {
    font-size: $font-size--05;
    font-weight: $font-weight--bold;
    font-family: $font-family--base;
    line-height: $line-height--xxs;
    display: inline-flex;
    align-items: center;
    grid-gap: .2em;

    @if $theme =='light' {
      color: $c--white;
    }

    &:hover {

      @if $theme =='light' {
        color: $c--gray--lightest;
      }
    }

    &:after {
      content: '';
      background-color: $c--link;
      margin-top: .12em;
      height: .6em;
      width: .75em;
      display: block;
      mask-image: url("../images/icons/caret-right.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: bottom right;

      @if $theme =='light' {
        background-color: $c--white;
      }
    }

    &:hover:after {
      background-color: $c--link--hover;

      @if $theme =='light' {
        background-color: $c--gray--lightest;
      }
    }
  }
}

@mixin section-top-padding($m: 1) {
  padding-top: ($spacing--md * $m);

  @include media-breakpoint-up(lg) { padding-top: ($spacing--lg * $m); }
}

@mixin section-bottom-padding($m: 1) {
  padding-bottom: ($spacing--md * $m);

  @include media-breakpoint-up(lg) { padding-bottom: ($spacing--lg * $m); }
}

@mixin section-vertical-padding($m: 1) {
  padding-top: ($spacing--md * $m);
  padding-bottom: ($spacing--md * $m);

  @include media-breakpoint-up(lg) {
    padding-top: ($spacing--lg * $m);
    padding-bottom: ($spacing--lg * $m);
  }
}

@mixin section-right-padding($m: 1) {
  padding-right: ($spacing--sm * $m);

  @include media-breakpoint-up(md) { padding-right: ($spacing--md * $m); }

  @include media-breakpoint-up(lg) { padding-right: ($spacing--lg * $m); }
}

@mixin section-left-padding($m: 1) {
  padding-left: ($spacing--sm * $m);

  @include media-breakpoint-up(md) { padding-left: ($spacing--md * $m); }

  @include media-breakpoint-up(lg) { padding-left: ($spacing--lg * $m); }
}

@mixin section-horizontal-padding($m: 1) {
  padding-right: ($spacing--sm * $m);
  padding-left: ($spacing--sm * $m);

  @include media-breakpoint-up(md) {
    padding-right: ($spacing--md * $m);
    padding-left: ($spacing--md * $m);
  }

  @include media-breakpoint-up(lg) {
    padding-right: ($spacing--lg * $m);
    padding-left: ($spacing--lg * $m);
  }
}

@mixin section-top-margin($m: 1) {
  margin-top: ($spacing--md * $m);

  @include media-breakpoint-up(lg) { margin-top: ($spacing--lg * $m); }
}

@mixin section-bottom-margin($m: 1) {
  margin-bottom: ($spacing--md * $m);

  @include media-breakpoint-up(lg) { margin-bottom: ($spacing--lg * $m); }
}

@mixin section-vertical-margins($m: 1) {
  margin-top: ($spacing--md * $m);
  margin-bottom: ($spacing--md * $m);

  @include media-breakpoint-up(lg) {
    margin-top: ($spacing--lg * $m);
    margin-bottom: ($spacing--lg * $m);
  }
}

@mixin page-intro-text {
  font-size: $font-size--03;

  @include media-breakpoint-up(md) {
    font-size: $font-size--04;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size--06;
  }
}
