/* TYPOGRAPHY */

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family--base: "Source Sans Pro", sans-serif;

$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 600;
$font-weight--black: 700;
$font-weight--base: $font-weight--normal;

$font-size--root: 18px;
$font-size--base: 1rem; // Assumes the browser default ($font-size--root)

// Huntington font sizes.
$font-size--01: 10px;
$font-size--02: 14px;
$font-size--03: 16px;
$font-size--04: 18px;
$font-size--05: 20px;
$font-size--06: 24px;
$font-size--07: 27px;
$font-size--08: 32px;
$font-size--09: 40px;
$font-size--10: 47px;
$font-size--11: 57px;

$line-height--xxs: 1;
$line-height--xs: 1.1;
$line-height--sm: 1.2;
$line-height--md: 1.5;
$line-height--lg: 1.8;
$line-height--xl: 2;
$line-height--base: $line-height--md;

$font-size--xs: $font-size--01;
$font-size--sm: $font-size--02;
$font-size--md: $font-size--04;
$font-size--lg: $font-size--05;
$font-size--xl: $font-size--06;
$font-size--xxl: $font-size--08;
$font-size--3xl: $font-size--10;

$font-size--h1: $font-size--11;
$font-size--h2: $font-size--10;
$font-size--h3: $font-size--09;
$font-size--h4: $font-size--08;
$font-size--h5: $font-size--07;
$font-size--h6: $font-size--06;

$letter-spacing--xxs: -.15em;
$letter-spacing--xs: -.1em;
$letter-spacing--sm: -.05em;
$letter-spacing--md: 0;
$letter-spacing--lg: .05em;
$letter-spacing--xl: .1em;
$letter-spacing--xxl: .15em;
