html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family--base;
  font-size: $font-size--base;
  font-weight: $font-weight--normal;
}

.font-size--01,
%font-size--01 { font-size: $font-size--01; }

.font-size--02,
%font-size--02 { font-size: $font-size--02; }

.font-size--03,
%font-size--03 { font-size: $font-size--03; }

.font-size--04,
%font-size--04 { font-size: $font-size--04; }

.font-size--05,
%font-size--05 { font-size: $font-size--05; }

.font-size--06,
%font-size--06 { font-size: $font-size--06; }

.font-size--07,
%font-size--07 { font-size: $font-size--07; }

.font-size--08,
%font-size--08 { font-size: $font-size--08; }

.font-size--09,
%font-size--09 { font-size: $font-size--09; }

.font-size--10,
%font-size--10 { font-size: $font-size--10; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .325em;
  line-height: 1.2;
  font-family: $font-family--sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight--bold;
}

h5,
h6 {
  font-weight: $font-weight--normal;
}

h1 {
  @extend %font-size--09;

  &.page-title {
    margin-top: $spacing--02;
    margin-bottom: $spacing--06;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

h2 {
  @extend %font-size--08;
}

h3 {
  @extend %font-size--07;
}

h4 {
  @extend %font-size--06;
}

h5 {
  @extend %font-size--05;
}

h6 {
  @extend %font-size--04;
}

a {
  @include transition($nav-link-transition);

  text-decoration: none;
  color: $c--maroon;

  &:hover {
    text-decoration: underline;
    color: $c--yellow--dark;
  }
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

p,
dl,
.text-formatted ul,
.text-formatted ol {
  margin-bottom: $spacing--04;
}

li { list-style-type: none; }

.text-formatted li { margin: 0 0 $spacing--01; }

.text-formatted ul li { list-style-type: disc; }

.text-formatted ol li { list-style-type: decimal; }

.text-formatted ul,
.text-formatted ol { padding-left: $spacing--07; }

.intro-text {
  font-size: $font-size--lg;

  p:last-child {
    margin-bottom: 0;
  }
}

.sidebar-placeholder {
  border: 1px solid $c--gray--lighter;
  padding: $spacing--sm;
  background-color: $c--gray--lightest;
  text-align: center;
  font-family: $font-family--sans-serif;
  font-size: $font-size--md;
}
