html {
  font-size: $font-size--root;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  color: $c--gray--darker;
  font-size: $font-size--base;
  line-height: $line-height--base;
}

.font-size--01,
%font-size--01 { font-size: $font-size--01; }

.font-size--02,
%font-size--02 { font-size: $font-size--02; }

.font-size--03,
%font-size--03 { font-size: $font-size--03; }

.font-size--04,
%font-size--04 { font-size: $font-size--04; }

.font-size--05,
%font-size--05 { font-size: $font-size--05; }

.font-size--06,
%font-size--06 { font-size: $font-size--06; }

.font-size--07,
%font-size--07 { font-size: $font-size--07; }

.font-size--08,
%font-size--08 { font-size: $font-size--08; }

.font-size--09,
%font-size--09 { font-size: $font-size--09; }

.font-size--10,
%font-size--10 { font-size: $font-size--10; }

h1,
.h1,
%h1 {
  font-size: $font-size--07;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  margin: 0 0 .5em;

  @include media-breakpoint-up(md) { font-size: $font-size--h1; }

  &.page-title {
    border-bottom: 1px solid $c--gray--light;
    color: $c--black;
    padding-bottom: .25em;
    margin: 0;
  }
}

.page-title-wrapper {
  margin-top: $spacing--md;
  margin-bottom: $spacing--md;

  @include media-breakpoint-up(md) {
    margin-top: $spacing--xl;
    margin-bottom: $spacing--xl;
  }
}

h2,
.h2,
%h2 {
  font-size: $font-size--07;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  margin: 0 0 .75em;

  @include media-breakpoint-up(md) { font-size: $font-size--h2; }
}

h3,
.h3,
%h3 {
  font-size: $font-size--06;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  margin: 0 0 1em;

  @include media-breakpoint-up(md) { font-size: $font-size--h3; }
}

h4,
.h4,
%h4 {
  font-size: $font-size--04;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  margin: 0 0 1em;

  @include media-breakpoint-up(md) { font-size: $font-size--h4; }
}

h5,
.h5,
%h5 {
  font-size: $font-size--04;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  margin: 0 0 1em;

  @include media-breakpoint-up(md) { font-size: $font-size--h5; }
}

h6,
.h6,
%h6 {
  font-size: $font-size--04;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  margin: 0 0 1em;

  @include media-breakpoint-up(md) { font-size: $font-size--h6; }
}

a {
  color: $c--link;
  text-decoration: none;

  &:hover {
    color: $c--link--hover;
    text-decoration: underline;
  }
}

p { max-width: 800px; }

p,
dl,
ul,
ol {
  margin: 0 0 $section-spacer;
}

li { margin: 0 0 $spacing--02; }

ul,
ol {
  padding-inline-start: $spacing--06;
}

div.paragraph--type--image-with-text .field--name-field-body blockquote,
div.paragraph--type--featured-solo .field--name-field-body blockquote,
div.paragraph--type--basic-text .field--name-field-body blockquote,
blockquote {
  font-size: $font-size--06;
  padding: 0 1.125em;
  margin: $section-spacer 0;
  font-weight: $font-weight--bold;
  line-height: $line-height--sm;
  border-left: .25em solid $c--gray--light;

  @include media-breakpoint-up(md) {
    font-size: $font-size--07;
    margin: ($section-spacer * 2) ($section-spacer * 1.5);
  }

  p {
    border: 0;
  }
}

p.alert {
  background-color: $c--white;
  padding: 0.8em 0.75em 0.8em 3.25em;
  border: 1px solid $c--gray--lighter;
  background-image: url(../images/icons/alert.svg);
  background-repeat: no-repeat;
  background-position: 0.8em 0.65em;
  max-width: none;
}

p.intro {
  font-size: $font-size--06;
  max-width: none;
}

p.callout,
.callout {
  @include callout-text;

  max-width: none;
}

table {
  border-top: 1px solid $c--on-background--secondary;
  border-left: 1px solid $c--on-background--secondary;
  margin: $section-spacer 0;

  tr {
    border-bottom: 1px solid $c--on-background--secondary;

    &:nth-child(even) {
      background-color: $c--background--accent-primary;
    }
  }

  td,
  th {
    border-right: 1px solid $c--on-background--secondary;
    padding: 15px 24px;
    padding: $spacing--05 $spacing--06;
  }

  th {
    font-size: $font-size--05;
    font-weight: $font-weight--black;
    background-color: $c--brand--green-primary;
    color: $c--white;
  }
}

caption {
  padding-top: $spacing--xs;
  padding-bottom: 0;
  color: $c--brand--green-primary;
  text-align: left;
  caption-side: bottom;
  font-size: $font-size-sm;
}