<div class="outer-wrapper outer-wrapper--site-footer">
    <div class="site-footer">

        <div class="site-logo">
            I am site logo in footer.
        </div>

        <div class="site-title">
            I am footer menu...
        </div>

        <div class="site-utility">
            I am footer info.
        </div>

    </div>
</div>
